{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}Delete Page{% endblock title %}

{% block statico  %}
<link href="{% static 'encyclopedia/style_entry_not_found.css' %}" rel="stylesheet">
{% endblock statico %}

{% block body %}
<div class="error-container">
    <h1 class="error-title">Delete Page <span class="bold">{{ title }}</span>!</h1>
    <p class="error-message">Are you sure you want to delete <span class="bold">{{ title }}</span> page!</p>
    <form method="POST"> {% csrf_token %}
        <button type="submit">Yes, delete</button>
    </form>
</div>
{% endblock body %}